body {
    font-family: Arial;
}

.color-palate {
    height: 50%;
    width: 60%;
    display: flex;
    flex-direction: row;
}

.options-wrapper {
    border: 2px solid red;
    display: flex;
    gap: 0.3em;
}

#number-selector {
    width: 3em;
}

#pal-1 {
    width: 20%;
    height: 90%;
}

#pal-2 {
    width: 20%;
    height: 90%;
}

#pal-3 {
    width: 20%;
    height: 90%;
}

#pal-3 {
    width: 20%;
    height: 90%;
}

#pal-4 {
    width: 20%;
    height: 90%;
}

#pal-5 {
    width: 20%;
    height: 90%;
}

.palate-hexes {
    height: 20%;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.color-palate {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.color-palate div {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

/* #pal-hex-1 {

} */